# **ETL Process**

## Objectives

* Extract data from raw csv dataset into a pandas DataFrame
* Clean and transform extracted DataFrame
* Load processed pandas data frame into a csv file

## Inputs

* Raw dataset required, gathered from kaggle

## Outputs

* Generate processed dataset as csv files

## Additional Comments

* Dataset source: https://www.kaggle.com/datasets/mackness/global-gdp-and-co-emissions-dataset-19602022?resource=download 
* Source dataset is already cleaned, but cleaning step will still take place

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\fanxi\\OneDrive\\Documents\\hackathon\\hackathon1\\global-gdp-and-co2-emissions\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\fanxi\\OneDrive\\Documents\\hackathon\\hackathon1\\global-gdp-and-co2-emissions'

# Initial setup

### Prerequisites
* Setup Python Virtual Enviornment (.venv) with python version 3.12.
* Ensure that the reqired packages in requirements.txt are installed.
* Confirm that .venv is selected as the kernel in Jupyter Notebook.

### Import Libaries
NumPy and pandas are essential libaries for this project. Import the libaries pnto Jupyter Notebook.

In [4]:
import numpy as np
import pandas as pd

---

# Data Extraction

### Prerequisites
* Ensure dataset has been downloaded from Kaggle in CSV format.
* Ensure datasets are in the correct directory "dataset/raw". 
* _Original dataset source: (https://www.kaggle.com/datasets/mackness/global-gdp-and-co-emissions-dataset-19602022?resource=download)_

### Extracting Dataset 
In this section, data will be extracted from the CSV file into a pandas DataFrame. This makes the data easier to work with and allows the data to be easily manipulated.

In [5]:
df = pd.read_csv('dataset/raw/gdp_co2_by_country.csv') ## Directory to the dataset
df

,Country Name,Country Code,Year,Population,Pop Log,Pop Outliers,Pop Category,CO2,CO2 %,Per Capita CO2,...,CO2 Log,CO2 Outliers,Emissions Category,GDP USD,GDP USD Log,GDP %,GDP % Winsor,GDP Per Capita,GDP Category,CO2 Per GDP
0,Afghanistan,AFG,1961,9214082.0,16.036244,not outlier,1M-10M,0.491,NaN,5.328800e-08,...,0.399447,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000033,Low GDP,0.001593
1,Afghanistan,AFG,1962,9404411.0,16.056689,not outlier,1M-10M,0.689,40.325866,7.326349e-08,...,0.524137,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000033,Low GDP,0.002235
2,Afghanistan,AFG,1963,9604491.0,16.077741,not outlier,1M-10M,0.707,2.612482,7.361140e-08,...,0.534737,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000032,Low GDP,0.002293
3,Afghanistan,AFG,1964,9814318.0,16.099353,not outlier,1M-10M,0.839,18.670438,8.548735e-08,...,0.609222,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000031,Low GDP,0.002721
4,Afghanistan,AFG,1965,10036003.0,16.121690,not outlier,10M-100M,1.007,20.023838,1.003388e-07,...,0.696641,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000031,Low GDP,0.003266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12502,Zimbabwe,ZWE,2019,15271377.0,16.541491,not outlier,10M-100M,10.263,-8.406961,6.720416e-07,...,2.421523,False,High,1350.309851,7.208830,-7.785580,-7.785580,0.000088,Low GDP,0.007600
12503,Zimbabwe,ZWE,2020,15526888.0,16.558084,not outlier,10M-100M,8.495,-17.226932,5.471154e-07,...,2.250765,False,High,1224.272314,7.110918,-9.333971,-9.333971,0.000079,Low GDP,0.006939
12504,Zimbabwe,ZWE,2021,15797220.0,16.575345,not outlier,10M-100M,10.204,20.117716,6.459364e-07,...,2.416271,False,High,1305.220113,7.174893,6.611911,6.611911,0.000083,Low GDP,0.007818
12505,Zimbabwe,ZWE,2022,16069061.0,16.592406,not outlier,10M-100M,10.425,2.165817,6.487622e-07,...,2.435804,False,High,1361.914530,7.217381,4.343667,4.343667,0.000085,Low GDP,0.007655
12506,Zimbabwe,ZWE,2023,16340829.0,16.609177,not outlier,10M-100M,11.164,7.088729,6.831967e-07,...,2.498481,False,High,1410.737311,7.252576,3.584864,3.584864,0.000086,Low GDP,0.007914

### DataFrame info
Below are some information of the DataFrame including:
* Shape of DataFrame
* Features of DataFrame
* Features data types

In [6]:
## The dimention of the DataFrame (rows, columns)
df.shape
## From this we can see the number of features (columns) and the number of samples (rows) in the DataFrame

(12507, 21)

In [7]:
## The features of the DataFrame (Names of columns)
df.columns

Index(['Country Name', 'Country Code', 'Year', 'Population', 'Pop Log',
       'Pop Outliers', 'Pop Category', 'CO2', 'CO2 %', 'Per Capita CO2',
       'Cumulative CO2', 'CO2 Log', 'CO2 Outliers', 'Emissions Category',
       'GDP USD', 'GDP USD Log', 'GDP %', 'GDP % Winsor', 'GDP Per Capita',
       'GDP Category', 'CO2 Per GDP'],
      dtype='object')

In [8]:
## Data type of values
df.dtypes

Country Name           object
Country Code           object
Year                    int64
Population            float64
Pop Log               float64
Pop Outliers           object
Pop Category           object
CO2                   float64
CO2 %                 float64
Per Capita CO2        float64
Cumulative CO2        float64
CO2 Log               float64
CO2 Outliers           object
Emissions Category     object
GDP USD               float64
GDP USD Log           float64
GDP %                 float64
GDP % Winsor          float64
GDP Per Capita        float64
GDP Category           object
CO2 Per GDP           float64
dtype: object

---


# Data Transformation

### Data Cleaning
This section involves cleaning up the DataFrame to identify and handle missing values, outliers and duplicates. <br>
_**Note:** Although the dataset used has already been cleaned, this step is still necessary for verification._

In [9]:
## Initial reminder of df
df

,Country Name,Country Code,Year,Population,Pop Log,Pop Outliers,Pop Category,CO2,CO2 %,Per Capita CO2,...,CO2 Log,CO2 Outliers,Emissions Category,GDP USD,GDP USD Log,GDP %,GDP % Winsor,GDP Per Capita,GDP Category,CO2 Per GDP
0,Afghanistan,AFG,1961,9214082.0,16.036244,not outlier,1M-10M,0.491,NaN,5.328800e-08,...,0.399447,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000033,Low GDP,0.001593
1,Afghanistan,AFG,1962,9404411.0,16.056689,not outlier,1M-10M,0.689,40.325866,7.326349e-08,...,0.524137,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000033,Low GDP,0.002235
2,Afghanistan,AFG,1963,9604491.0,16.077741,not outlier,1M-10M,0.707,2.612482,7.361140e-08,...,0.534737,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000032,Low GDP,0.002293
3,Afghanistan,AFG,1964,9814318.0,16.099353,not outlier,1M-10M,0.839,18.670438,8.548735e-08,...,0.609222,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000031,Low GDP,0.002721
4,Afghanistan,AFG,1965,10036003.0,16.121690,not outlier,10M-100M,1.007,20.023838,1.003388e-07,...,0.696641,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000031,Low GDP,0.003266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12502,Zimbabwe,ZWE,2019,15271377.0,16.541491,not outlier,10M-100M,10.263,-8.406961,6.720416e-07,...,2.421523,False,High,1350.309851,7.208830,-7.785580,-7.785580,0.000088,Low GDP,0.007600
12503,Zimbabwe,ZWE,2020,15526888.0,16.558084,not outlier,10M-100M,8.495,-17.226932,5.471154e-07,...,2.250765,False,High,1224.272314,7.110918,-9.333971,-9.333971,0.000079,Low GDP,0.006939
12504,Zimbabwe,ZWE,2021,15797220.0,16.575345,not outlier,10M-100M,10.204,20.117716,6.459364e-07,...,2.416271,False,High,1305.220113,7.174893,6.611911,6.611911,0.000083,Low GDP,0.007818
12505,Zimbabwe,ZWE,2022,16069061.0,16.592406,not outlier,10M-100M,10.425,2.165817,6.487622e-07,...,2.435804,False,High,1361.914530,7.217381,4.343667,4.343667,0.000085,Low GDP,0.007655
12506,Zimbabwe,ZWE,2023,16340829.0,16.609177,not outlier,10M-100M,11.164,7.088729,6.831967e-07,...,2.498481,False,High,1410.737311,7.252576,3.584864,3.584864,0.000086,Low GDP,0.007914

A basic overview of the DataFrame can be obtained using the `.info()` function, which provides information about the number of non-null values and the data types of each column.

In [10]:
#.info() Function is used to get a basic overview of the DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12507 entries, 0 to 12506
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country Name        12507 non-null  object
 1   Country Code        12507 non-null  object
 2   Year                12507 non-null  int64
 3   Population          12507 non-null  float64
 4   Pop Log             12507 non-null  float64
 5   Pop Outliers        12507 non-null  object
 6   Pop Category        12507 non-null  object
 7   CO2                 12507 non-null  float64
 8   CO2 %               12300 non-null  float64
 9   Per Capita CO2      12507 non-null  float64
 10  Cumulative CO2      12507 non-null  float64
 11  CO2 Log             12507 non-null  float64
 12  CO2 Outliers        12507 non-null  object
 13  Emissions Category  12507 non-null  object
 14  GDP USD             12507 non-null  float64
 15  GDP USD Log         12507 non-null  float64
 16  GDP %               12507 non-null  float64
 17  GDP % Winsor        12507 non-null  float64
 18  GDP Per Capita      12507 non-null  float64
 19  GDP Category        12507 non-null  object
 20  CO2 Per GDP         12507 non-null  float64
dtypes: float64(13), int64(1), object(7)
memory usage: 2.0+ MB


#### Identifying and handling missing data

Notice that the non-null count of the CO2 % column is less than the other columns. This suggests that there are null values on that column. It is easier to spot using the `.isnull()` function.

In [11]:
## Number of missing values in each column
df.isnull().sum()

Country Name            0
Country Code            0
Year                    0
Population              0
Pop Log                 0
Pop Outliers            0
Pop Category            0
CO2                     0
CO2 %                 207
Per Capita CO2          0
Cumulative CO2          0
CO2 Log                 0
CO2 Outliers            0
Emissions Category      0
GDP USD                 0
GDP USD Log             0
GDP %                   0
GDP % Winsor            0
GDP Per Capita          0
GDP Category            0
CO2 Per GDP             0
dtype: int64

As all the missing values are on the CO2 % column, we can fetch the entries with missing values from that column.

In [12]:
## fetch the entries with missing values from the CO2 % column
df_missing = df[df['CO2 %'].isnull()]
df_missing

,Country Name,Country Code,Year,Population,Pop Log,Pop Outliers,Pop Category,CO2,CO2 %,Per Capita CO2,...,CO2 Log,CO2 Outliers,Emissions Category,GDP USD,GDP USD Log,GDP %,GDP % Winsor,GDP Per Capita,GDP Category,CO2 Per GDP
0,Afghanistan,AFG,1961,9214082.0,16.036244,not outlier,1M-10M,0.491,NaN,5.328800e-08,...,0.399447,False,Moderate,308.318270,5.734371,-10.119484,-10.119484,0.000033,Low GDP,0.001593
63,Albania,ALB,1961,1698800.0,14.345433,not outlier,1M-10M,2.279,NaN,1.341535e-06,...,1.187538,False,Moderate,1740.505838,7.462505,3.648649,3.648649,0.001025,Low GDP,0.001309
126,Algeria,DZA,1961,11628876.0,16.269002,not outlier,10M-100M,6.056,NaN,5.207726e-07,...,1.953878,False,Very High,2027.273515,7.614940,-15.120731,-15.120731,0.000174,Low GDP,0.002987
189,Andorra,AND,1990,52616.0,10.870795,not outlier,<1M,0.407,NaN,7.735290e-06,...,0.341460,False,Low,31143.146875,10.346382,-0.119516,-0.119516,0.591895,Low GDP,0.000013
223,Angola,AGO,1961,5301584.0,15.483516,not outlier,1M-10M,0.454,NaN,8.563478e-08,...,0.374318,False,High,2835.459185,7.950312,-7.819538,-7.819538,0.000535,Low GDP,0.000160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12192,"Venezuela, RB",VEN,1961,8455922.0,15.950378,not outlier,1M-10M,51.880,NaN,6.135345e-06,...,3.968025,False,Very High,3957.383586,8.283591,-0.417608,-0.417608,0.000468,Low GDP,0.013110
12255,Viet Nam,VNM,1961,33409061.0,17.324338,not outlier,10M-100M,7.978,NaN,2.387975e-07,...,2.194777,False,Very High,595.491333,6.391065,1.425069,1.425069,0.000018,Low GDP,0.013397
12318,"Yemen, Rep.",YEM,1961,5655234.0,15.548092,not outlier,1M-10M,2.664,NaN,4.710680e-07,...,1.298555,False,High,1722.208046,7.451943,2.298601,2.298601,0.000305,Low GDP,0.001547
12381,Zambia,ZMB,1961,3254086.0,14.995422,not outlier,1M-10M,3.709,NaN,1.139798e-06,...,1.549476,False,Moderate,1166.745964,7.062831,-1.764634,-1.764634,0.000359,Low GDP,0.003179
12444,Zimbabwe,ZWE,1961,3930400.0,15.184252,not outlier,1M-10M,5.061,NaN,1.287655e-06,...,1.801875,False,High,1171.052038,7.066511,3.042819,3.042819,0.000298,Low GDP,0.004322

Next step is to further analyse the missing data to decide on how to handle them. If there are similarities or trends between the missing data, it might be best replace those values rather than removing the entire entry. <br>

Catagorical features that may affect CO2 % are examined. In the [source dataset page](https://www.kaggle.com/datasets/mackness/global-gdp-and-co-emissions-dataset-19602022?resource=download), CO2 % is defined as:
>
> Year-on-year % change in CO₂ emissions
>
Meaning percentage changes of CO2 emissions compared to the previous year. This means that the year of the entry could be the cause for missing datas, as initial data entries does not have a previous year to compare with. However, there may still be other factors causing missing data, such as incomplete records. This can be checked by counting year values in the "df_missing" DataFrame

In [19]:

print(df_missing.value_counts('Year')) ## Count the number of entries for each year
print('\n')
print(df.value_counts('Year')) ## Count the number of entries for each year in the original DataFrame for comparison

Year
1961    186
1990      5
1962      2
1964      2
1992      2
1994      2
1963      1
1970      1
1971      1
1972      1
1991      1
1995      1
1996      1
1997      1
Name: count, dtype: int64


Year
2023    204
2008    204
1995    204
1996    204
1997    204
       ...
1965    191
1964    191
1963    188
1962    187
1961    186
Name: count, Length: 63, dtype: int64

Majority of the missing value entries are from 1961, the first year of the dataset. This is as expected as CO2 % value could not be calculated for the first instance. However, there are various entries with year values from later than 1961. These missing values could be due to incomplete records or they can be the first records of specific countries.

In [23]:
df_missing_filtered = df_missing[df_missing['Year'] != 1961] ## Filter out the entries with year value of 1961
df_missing_filtered

,Country Name,Country Code,Year,Population,Pop Log,Pop Outliers,Pop Category,CO2,CO2 %,Per Capita CO2,...,CO2 Log,CO2 Outliers,Emissions Category,GDP USD,GDP USD Log,GDP %,GDP % Winsor,GDP Per Capita,GDP Category,CO2 Per GDP
189,Andorra,AND,1990,52616.0,10.870795,not outlier,<1M,0.407,NaN,7.735290e-06,...,0.341460,False,Low,31143.146875,10.346382,-0.119516,-0.119516,0.591895,Low GDP,1.306869e-05
1294,Bhutan,BTN,1970,308535.0,12.639594,not outlier,<1M,0.004,NaN,1.296449e-08,...,0.003992,False,Low,409.399510,6.017131,-0.759183,-0.759183,0.001327,Low GDP,9.770407e-06
1474,Botswana,BWA,1972,622416.0,13.341366,not outlier,<1M,0.022,NaN,3.534614e-08,...,0.021761,False,Moderate,1184.473701,7.077898,21.910494,20.298040,0.001903,Low GDP,1.857365e-05
1589,British Virgin Islands,VGB,1962,8092.0,8.998755,low outlier,<1M,0.004,NaN,4.943154e-07,...,0.003992,False,Low,3957.383586,8.283591,1.962206,1.962206,0.489049,Low GDP,1.010769e-06
3352,Timor-Leste,TLS,1994,844502.0,13.646504,not outlier,<1M,0.000,NaN,0.000000e+00,...,0.000000,False,Low,823.062425,6.714246,4.198215,4.198215,0.000975,Low GDP,0.000000e+00
3353,Timor-Leste,TLS,1995,868152.0,13.674123,not outlier,<1M,0.000,NaN,0.000000e+00,...,0.000000,False,Low,854.130473,6.751254,3.774689,3.774689,0.000984,Low GDP,0.000000e+00
3354,Timor-Leste,TLS,1996,892288.0,13.701545,not outlier,<1M,0.000,NaN,0.000000e+00,...,0.000000,False,Low,897.360531,6.800571,5.061295,5.061295,0.001006,Low GDP,0.000000e+00
3355,Timor-Leste,TLS,1997,917188.0,13.729069,not outlier,<1M,0.000,NaN,0.000000e+00,...,0.000000,False,Low,907.916566,6.812253,1.176343,1.176343,0.000990,Low GDP,0.000000e+00
3634,Eritrea,ERI,1994,1913920.0,14.464665,not outlier,1M-10M,0.707,NaN,3.693989e-07,...,0.534737,False,Low,829.915037,6.722528,17.553636,17.553636,0.000434,Low GDP,8.518944e-04
6371,Lesotho,LSO,1990,1809697.0,14.408671,not outlier,1M-10M,1.473,NaN,8.139484e-07,...,0.905432,False,Low,533.824964,6.281940,4.037889,4.037889,0.000295,Low GDP,2.759331e-03
6972,Maldives,MDV,1971,127053.0,11.752367,not outlier,<1M,0.004,NaN,3.148292e-08,...,0.003992,False,Low,1559.396036,7.352695,2.046910,2.046910,0.012274,Low GDP,2.565096e-06
7151,Marshall Islands,MHL,1992,46405.0,10.745184,not outlier,<1M,0.077,NaN,1.659304e-06,...,0.074179,False,Low,3247.852893,8.086057,5.246953,5.246953,0.069989,Low GDP,2.370797e-05
7372,"Micronesia, Fed. Sts.",FSM,1992,104822.0,11.560028,not outlier,<1M,0.136,NaN,1.297438e-06,...,0.127513,False,Low,2592.341064,7.860702,1.971640,1.971640,0.024731,Low GDP,5.246223e-05
7782,Namibia,NAM,1991,1415689.0,14.163128,not outlier,1M-10M,1.044,NaN,7.374501e-07,...,0.714909,False,Moderate,2989.400016,8.003162,4.621863,4.621863,0.002112,Low GDP,3.492340e-04
7815,Nauru,NRU,1964,5535.0,8.619027,low outlier,<1M,0.029,NaN,5.239386e-06,...,0.028587,False,Low,39582.318823,10.586163,2.107095,2.107095,7.151277,Low GDP,7.326504e-07
8505,Oman,OMN,1964,572586.0,13.257920,not outlier,<1M,0.011,NaN,1.921109e-08,...,0.010940,False,High,2774.305990,7.928516,-1.978920,-1.978920,0.004845,Low GDP,3.964956e-06
8691,West Bank and Gaza,PSE,1990,2139067.0,14.575881,not outlier,1M-10M,0.861,NaN,4.025119e-07,...,0.621114,False,Low,2137.389289,7.667808,2.427066,2.427066,0.000999,Low GDP,4.028279e-04
9922,Seychelles,SYC,1963,46098.0,10.738547,not outlier,<1M,0.007,NaN,1.518504e-07,...,0.006976,False,Low,3322.942605,8.108907,7.370998,7.370998,0.072084,Low GDP,2.106567e-06
11621,Turks and Caicos Islands,TCA,1990,11707.0,9.368028,not outlier,<1M,0.062,NaN,5.295977e-06,...,0.060154,False,Low,25215.865039,10.135268,-4.920831,-4.920831,2.153913,Low GDP,2.458770e-06
11655,Tuvalu,TUV,1990,8821.0,9.085004,low outlier,<1M,0.004,NaN,4.534633e-07,...,0.003992,False,Low,2450.797260,7.804577,13.592511,13.592511,0.277837,Low GDP,1.632122e-06
12130,Vanuatu,VUT,1962,68188.0,11.130039,not outlier,<1M,0.040,NaN,5.866135e-07,...,0.039221,False,Low,2945.842768,7.988490,-13.406832,-13.406832,0.043202,Low GDP,1.357846e-05

A new DataFrame is created with missing data entries after 1961.

In [25]:
df_missing_filtered.value_counts('Country Name') ## Count the number of entries for each country in the filtered DataFrame

Country Name
Timor-Leste                 4
Andorra                     1
Bhutan                      1
Vanuatu                     1
Tuvalu                      1
Turks and Caicos Islands    1
Seychelles                  1
Oman                        1
Nauru                       1
Namibia                     1
Micronesia, Fed. Sts.       1
Marshall Islands            1
Maldives                    1
Lesotho                     1
Eritrea                     1
British Virgin Islands      1
Botswana                    1
West Bank and Gaza          1
Name: count, dtype: int64

Timor-Leste is the only country with multiple entries. However, looking at the CO2 data in the DataFrame above, it is clear that Timor-Leste has consistently recorded CO2 values of 0 in those entries. Suggesting that the NaN values  were likely caused by zero division errors during the CO2 % calculation. Since CO2 levels did not change and stayed at 0, those values can all be replaced by 0 later. <br>

The remaining entries will have to be compared with the original dataset to see if it is the earliest for that country.

In [48]:
missing_names = df_missing_filtered['Country Name'].unique() ## Unique country names with missing values
filtered_df_by_missing = df[df["Country Name"].isin(missing_names)] ## Filter the orig DataFrame only showing countries in missing_names
df_orig = filtered_df_by_missing.groupby('Country Name')['Year'].min() ## Earliest year for missing_names in orig dataframe
df_miss = df_missing_filtered.groupby('Country Name')['Year'].min() ## Earliest year in missing values DataFrame
df_comparison = pd.DataFrame({'Earliest Year in Original': df_orig, 
                              'Year in Missing DataFrame': df_miss}) ## compare
df_comparison

                          Earliest Year in Original  Year in Missing DataFrame
Country Name
Andorra                                        1990                       1990
Bhutan                                         1970                       1970
Botswana                                       1972                       1972
British Virgin Islands                         1962                       1962
Eritrea                                        1994                       1994
Lesotho                                        1990                       1990
Maldives                                       1971                       1971
Marshall Islands                               1992                       1992
Micronesia, Fed. Sts.                          1992                       1992
Namibia                                        1991                       1991
Nauru                                          1964                       1964
Oman                                           1964                       1964
Seychelles                                     1963                       1963
Timor-Leste                                    1994                       1994
Turks and Caicos Islands                       1990                       1990
Tuvalu                                         1990                       1990
Vanuatu                                        1962                       1962
West Bank and Gaza                             1990                       1990

Comparing the earliest year of entry in the original DataFrame, to the year of the entry with missing data for each country. They are all the same year, confirming that they are the first records for those countries. <br>

It is now established that the missing CO2 % data values are due to a combination of:

* First data entry
* Division by zero during CO2 % calculation.<br>

For both scenarios, it is okay to replace NaN values with 0. This is better than removing those entries completely as that can lead to incomplete or inaccurate analysis and visualisation

#### Identifying and handling duplicated data
We can easily identify duplicate data entries in pandas using the `.duplicated()` function.

In [14]:
df.duplicated().sum() ## Check for total number of duplicates in the DataFrame

0

A value of 0 indicates that there are no duplicated data in the DataFrame. This is expected as the source dataset has already been cleaned.

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
# import os
# try:
#   # create your folder here
#   # os.makedirs(name='')
# except Exception as e:
#   print(e)

IndentationError: expected an indented block after 'try' statement on line 2 (553063055.py, line 5)